{% extends 'base.html' %}
{% block content %}
<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
    <div class="row m-1 p-4">
        <div class="col">
            <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                <u>Password Reset Complete</u>
            </div>
        </div>
    </div>
    <div class="row m-1 p-3">
        <div class="col col-11 mx-auto">

            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center" style="padding-top:2rem!important;padding-bottom:2rem!important;">
              <div class="col">
                    <h5>Your password has been set. You may go ahead and log in now.</h5>
                </div>
                <div class="col-auto px-0 mx-0 mr-2">
                    <a href="{% url 'login' %}">
                        <button type="submit" class="btn btn-primary" style="padding-left:2.6rem;padding-right:2.6rem;">Login</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}