{% extends 'base.html' %}
{% block content %}
<div class="container m-5 p-2 rounded mx-auto bg-light shadow" style="width:100%;max-width:1500px;">
<div class="row m-1 p-4">
        <div class="col">
            <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                <u>Password Reset Sent</u>
            </div>
        </div>
    </div>
<div class="row m-1 p-3">
    <div class="col col-11 mx-auto" style="padding-left:0px;padding-right:0px;">
            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                <div class="col">
                    <h5 style="padding-top:2rem;padding-bottom:2rem;"><i class="fa fa-circle" style="color:#7B8FA1;font-size:.88rem;"></i>&nbsp;We’ve emailed you instructions for setting your password, if an account exists with the email you
                        entered. You should receive them shortly.</h5>
                    <h5><i class="fa fa-circle" style="color:#7B8FA1;font-size:.88rem;"></i>&nbsp;If you don’t receive an email, please make sure you’ve entered the address you registered with,
                        and check your spam folder.</h5>
                </div>
            </div>
    </div>
</div>
</div>
{% endblock content %}