{% extends 'base.html' %}
{% block content %}
<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
<div class="row m-1 p-4">
        <div class="col">
            <a href="{% url 'login' %}"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                <u>Password Reset Todo-s</u>
            </div>
        </div>
    </div>
<div class="row m-1 p-3">
    <div class="col col-11 mx-auto">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center" style="width:70%;margin:auto;">
                <div class="col">
                    <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
                           type="email" name="email" required id="email_id" placeholder="Enter your email...">
                </div>
                <div class="col-auto px-0 mx-0 mr-2">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}